@media screen and (max-width: 1024px){
    .bolinha-carrinho{
        right: 34px;
        top: 40px;
    }
}

@media screen and (max-width: 767px){
    .carrinho{
        width: 60%;
    }

    .logo-carrinho img{
        width: 150px;
        margin-top: 20px;
    }

    .container-lista{
        height: 60%;
    }

    .modal{
        display: block;
        width: 100%;
        height: 400px;
    }

    .modal-body img{
        width: 100%;
    }

    .modal-footer{
        padding: 0;
    }
}